In [1]:
import os
pth = '/Users/nhathiep/Desktop/Covid/'
f = 'covid19.ipynb'
os.path.join(pth,f)

'/Users/nhathiep/Desktop/Covid/covid19.ipynb'

<div> <img src="Assets/Displayed/covid_spikes.jpg" width="150" align ='left' alt="alt_text"> </div> 

# Coronavirus (COVID-19)  
<br>
<br>
<u><b>Datasets:</b></u>  <br>
- <b><font color='red'>Confirmed cases</font></b>: time-series data of cumulative #cases.
Raw data <a href=https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv> here </a><br>
- <b><font color='red'>Latest cases</font></b>: Latest stats on incidence rate, fatality, mortality. 
Raw data <a href =https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-02-2021.csv> here </a>

<u><b>Source:</b></u>  <br>
- Coronavirus Case Data is provided by <a href='https://github.com/CSSEGISandData/COVID-19'>Johns Hopkins University</a>
- Field definition: [Link here](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data)

<u><b>Benefits/Automation:</b></u>  <br>
- The data is automatically downloaded from the source and the latest report is systematically identified<br>
- Data wrangling (reformatting & pivoting) and new calculations are automated<br>
- The data can be transferred onto an Excel file and said Excel file can be updated programmatically (using Python)

In [46]:
f'Updated as of {datefile.strftime("%d-%m-%Y")}'

'Updated as of 03-01-2022'

# Coronavirus (COVID-19)

<font face = "Verdana" size ="3">Coronavirus is a family of viruses that are named after their spiky crown. The novel coronavirus, also known as SARS-CoV-2, is a contagious respiratory virus that first reported in Wuhan, China. On 2/11/2020, the World Health Organization designated the name COVID-19 for the disease caused by the novel coronavirus. This notebook aims at exploring COVID-19 through data analysis and projections. 
 
   Coronavirus Case Data is provided by <a href='https://github.com/CSSEGISandData/COVID-19'>Johns Hopkins University</a>
   <br>Mobility data is provided by <a href='https://www.apple.com/covid19/mobility'>Apple</a>
   <br>Learn more from the <a href='https://www.who.int/emergencies/diseases/novel-coronavirus-2019'>World Health Organization</a>
   <br>Learn more from the <a href='https://www.cdc.gov/coronavirus/2019-ncov'>Centers for Disease Control and Prevention</a>
   <br>Check out map visualizations from  <a href='https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6'>JHU CCSE Dashboard</a>
   <br>Source code is on <a href='https://github.com/therealcyberlord'>my Github</a>
  
   
   <font face = "Verdana" size ="3">
   Feel free to provide me with feedbacks. 
       <br> Last update: 1/3/2021 6:39 PM ET. Updates to the data table. 
       <br> New Updates: Daily report data update for 1/3. time series data update for 1/2. Mobility data update for 1/2. 
   </font>
       <br>
   <font face = "Verdana" size ="3"> *Prediction models are trained from a later starting date (3/13/2020). Therefore, earlier dates might not be accurate. </font>
   <font face = "Verdana" size ="1">
    
    </font>
 <font face = "Verdana" size ="3"> Keep strong, world. We can get through this! </font>
   <font face = "Verdana" size = "3"> Thank you guys for all the support. </font>
<br>
<font face = "Verdana" size ="3"> Sections </font>
* <a href='#world_wide_graphs'>Exploring Global Coronavirus Cases</a>
* <a href='#country_graphs'>Exploring Coronavirus Cases From Different Countries</a>
* <a href='#prediction'>Worldwide Confirmed Cases Prediction</a>
* <a href='#data_table'>Data Table</a>
* <a href='#pie_charts'>Pie Charts</a>
* <a href='#bar_charts'>Bar Charts</a>
* <a href='#hospital_testing'>US Testing Data</a>
* <a href='#mobility_data'>Mobility Data for Hotspots</a>

In [2]:
#!conda install  scikit-learn --yes

In [3]:
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib.colors as mcolors
import pandas as pd 
import random
import math
import time
from sklearn.linear_model import LinearRegression, BayesianRidge
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error
import datetime as dt
import operator 
plt.style.use('fivethirtyeight')
%matplotlib inline
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')
import warnings
warnings.filterwarnings("ignore")

Import the data (make sure you update this on a daily basis)

In [4]:
#Global Data - All countries time-series
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
recoveries_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
#Daily reports on 2n Jan - for Global and US
latest_data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-02-2021.csv')
us_medical_data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports_us/01-02-2021.csv')
#Apple Data
#apple_mobility = pd.read_csv('https://covid19-static.cdn-apple.com/covid19-mobility-data/2023HotfixDev27/v3/en-us/applemobilitytrends-2021-01-02.csv')

In [5]:
#Today
datefile = dt.datetime.today()
datefile.strftime("%m-%d-%y")

'01-04-22'

In [6]:
#Looking for the most recent files for Latest Y& US_medical
count = 0
while count < 10:
    try: 
        datefile = dt.datetime.today()- dt.timedelta(days= count)
        datetext = datefile.strftime("%m-%d-%Y")
        latest_data = pd.read_csv(f'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{datetext}.csv')
        us_medical_data = pd.read_csv(f'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports_us/{datetext}.csv')     
        break
    except:
        count += 1
        print(datetext)

01-04-2022

In [7]:
latest_data.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2022-01-04 04:22:17,33.93911,67.709953,158183,7364,NaN,NaN,Afghanistan,406.344057,4.655368
1,NaN,NaN,NaN,Albania,2022-01-04 04:22:17,41.15330,20.168300,210885,3220,NaN,NaN,Albania,7327.993606,1.526899
2,NaN,NaN,NaN,Algeria,2022-01-04 04:22:17,28.03390,1.659600,219532,6298,NaN,NaN,Algeria,500.631194,2.868830
3,NaN,NaN,NaN,Andorra,2022-01-04 04:22:17,42.50630,1.521800,24502,140,NaN,NaN,Andorra,31711.641752,0.571382
4,NaN,NaN,NaN,Angola,2022-01-04 04:22:17,-11.20270,17.873900,83764,1775,NaN,NaN,Angola,254.863132,2.119049

In [8]:
#Incidence rate
#latest_data.iloc[[9]]
#latest_data.set_index('Province_State')
latest_data.iloc[[9]]
#['Incident_Rate']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
9,NaN,NaN,New South Wales,Australia,2022-01-04 04:22:17,-33.8688,151.2093,272160,675,NaN,NaN,"New South Wales, Australia",3352.549889,0.248016

In [9]:
latest_data.set_index('Province_State', inplace = True)

In [10]:
latest_data.dtypes

FIPS                   float64
Admin2                  object
Country_Region          object
Last_Update             object
Lat                    float64
Long_                  float64
Confirmed                int64
Deaths                   int64
Recovered              float64
Active                 float64
Combined_Key            object
Incident_Rate          float64
Case_Fatality_Ratio    float64
dtype: object

In [11]:
latest_data.loc[['New South Wales']]

,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
Province_State,,,,,,,,,,,,,
New South Wales,NaN,NaN,Australia,2022-01-04 04:22:17,-33.8688,151.2093,272160,675,NaN,NaN,"New South Wales, Australia",3352.549889,0.248016

In [12]:
#Underlying population for New South Wales
#Incidence rate is cases per 100,000 persons
incidence_rate = latest_data.loc['New South Wales']['Incident_Rate']/100000
NSW_pop = latest_data.loc['New South Wales']['Confirmed'] / incidence_rate
print(NSW_pop)
print(f'{NSW_pop:,.0f} inhabitants in NSW') # the comma means to display with thousand separator and '.0f' means no decimal

8118000.0
8,118,000 inhabitants in NSW

In [13]:
#Checking the fatality rate
#definition: https://www.cdc.gov/csels/dsepd/ss1978/lesson3/section3.html
#Fatality rate is deaths per 100 persons (%)
NSW_deaths = latest_data.loc['New South Wales']['Deaths'] 
NSW_confirmed = latest_data.loc['New South Wales']['Confirmed'] 
NSW_CaseFatalityRatio = NSW_deaths/NSW_confirmed
print(f'{NSW_CaseFatalityRatio:0%} ')

#Check it is the same number as table
#Multiply by 100 to convert into percent and check with 14 decimals accuracy using round(number,14)
check = round(NSW_CaseFatalityRatio*100, 14) == round(latest_data.loc['New South Wales']['Case_Fatality_Ratio'],14)
#print(latest_data.loc['New South Wales']['Case_Fatality_Ratio'] )
#print(round(NSW_CaseFatalityRatio*100,14) )

print (f'Calculated Fatality ratio is equal to Downloaded Fatality ratio: \033[1m {check}') #To print in Bold \033[1m

0.248016%
Calculated Fatality ratio is equal to Downloaded Fatality ratio:  True

In [14]:
latest_data.reset_index(inplace = True)

In [15]:
#confirmed cases
confirmed_df[confirmed_df['Province/State']=='New South Wales']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/25/21,12/26/21,12/27/21,12/28/21,12/29/21,12/30/21,12/31/21,1/1/22,1/2/22,1/3/22
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,130701,137011,143042,154191,166373,166373,187504,228307,249064,272160

# Bokeh

In [16]:
import numpy as np # we will use this later, so import it n
from bokeh.io import output_notebook, show
from bokeh.plotting import figure
from bokeh.models.widgets import Slider
from bokeh.models import DateRangeSlider

#In this case, we are in the Jupyter notebook, so we will call output_notebook() below. We only need to call this once, and all subsequent calls to show() will display inline in the notebook.
output_notebook()

# Confirmed cases - what the data looks like (as downloaded from raw file)
Filtered for France
![alt text](Assets/Displayed/Confirmed_cases.png)

## Showing other countries

In [17]:
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/25/21,12/26/21,12/27/21,12/28/21,12/29/21,12/30/21,12/31/21,1/1/22,1/2/22,1/3/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,157895,157951,157967,157998,158037,158056,158084,158107,158189,158183
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,207542,207709,207709,208352,208899,208899,210224,210224,210885,210885
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,216376,216637,216930,217265,217647,218037,218432,218818,219159,219532
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,21730,21730,22332,22540,22823,23122,23740,23740,23740,24502
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,71142,71752,71752,76787,78475,79871,81593,82398,82920,83764

# New cases

In [18]:
confirmed_df['Province/State']= confirmed_df['Province/State'].fillna('Other')

In [19]:
confirmed_df[confirmed_df['Country/Region']=='Brazil']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/25/21,12/26/21,12/27/21,12/28/21,12/29/21,12/30/21,12/31/21,1/1/22,1/2/22,1/3/22
30,Other,Brazil,-14.235,-51.9253,0,0,0,0,0,0,...,22238297,22243266,22250218,22259270,22269031,22281649,22291839,22295621,22297427,22309081

In [20]:
confirmed_df[confirmed_df['Country/Region']=='France']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/25/21,12/26/21,12/27/21,12/28/21,12/29/21,12/30/21,12/31/21,1/1/22,1/2/22,1/3/22
119,French Guiana,France,3.933900,-53.125800,0,0,0,0,0,0,...,47012,47012,47229,47332,47631,47631,47631,47631,47631,47631
120,French Polynesia,France,-17.679700,149.406800,0,0,0,0,0,0,...,46376,46376,46382,46382,46382,46382,46382,46382,46382,46382
121,Guadeloupe,France,16.265000,-61.551000,0,0,0,0,0,0,...,55564,55564,55625,55795,55795,55795,55795,55795,55795,55795
122,Martinique,France,14.641500,-61.024200,0,0,0,0,0,0,...,47337,47337,47828,47828,48123,48123,48123,48123,48123,48123
123,Mayotte,France,-12.827500,45.166244,0,0,0,0,0,0,...,21288,21288,21288,21506,21911,21911,21911,21911,21911,21911
124,New Caledonia,France,-20.904305,165.618042,0,0,0,0,0,0,...,12701,12701,12717,12717,12826,12826,12826,12826,12826,12854
125,Reunion,France,-21.115100,55.536400,0,0,0,0,0,0,...,71795,71795,71795,71795,76602,76602,76602,76602,76602,76602
126,Saint Barthelemy,France,17.900000,-62.833300,0,0,0,0,0,0,...,1692,1692,1725,1726,1726,1895,1895,1895,1895,1895
127,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,98,98,98,98,98,100,100,100,100,100
128,St Martin,France,18.070800,-63.050100,0,0,0,0,0,0,...,4075,4075,4118,4118,4118,4250,4250,4250,4250,4250
129,Wallis and Futuna,France,-14.293800,-178.116500,0,0,0,0,0,0,...,454,454,454,454,454,454,454,454,454,454
130,Other,France,46.227600,2.213700,0,0,2,3,3,3,...,8884451,8912148,8941762,9121078,9323371,9529614,9761814,9980940,10039372,10106833

In [21]:
confirmed_df['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [22]:
confirmed_cases = confirmed_df.groupby(['Province/State', 'Country/Region', 'Lat', 'Long'])[confirmed_df.columns[4:]].sum().stack()

In [23]:
#confirmed_cases.rename({'level4': 'Date', '0': 'Cases'}, axis='columns', inplace = True)
confirmed_cases = confirmed_cases.reset_index()
confirmed_cases

       Province/State Country/Region      Lat      Long   level_4     0
0             Alberta         Canada  53.9333 -116.5765   1/22/20     0
1             Alberta         Canada  53.9333 -116.5765   1/23/20     0
2             Alberta         Canada  53.9333 -116.5765   1/24/20     0
3             Alberta         Canada  53.9333 -116.5765   1/25/20     0
4             Alberta         Canada  53.9333 -116.5765   1/26/20     0
...               ...            ...      ...       ...       ...   ...
198209       Zhejiang          China  29.1832  120.0934  12/30/21  2016
198210       Zhejiang          China  29.1832  120.0934  12/31/21  2016
198211       Zhejiang          China  29.1832  120.0934    1/1/22  2025
198212       Zhejiang          China  29.1832  120.0934    1/2/22  2038
198213       Zhejiang          China  29.1832  120.0934    1/3/22  2044

[198214 rows x 6 columns]

In [24]:
confirmed_cases.columns[5]

0

In [25]:
confirmed_cases.rename({'level_4': 'Date', confirmed_cases.columns[5]: 'Cases'}, axis='columns', inplace = True)
#confirmed_cases.columns = confirmed_cases.columns[:5]
confirmed_cases

       Province/State Country/Region      Lat      Long      Date  Cases
0             Alberta         Canada  53.9333 -116.5765   1/22/20      0
1             Alberta         Canada  53.9333 -116.5765   1/23/20      0
2             Alberta         Canada  53.9333 -116.5765   1/24/20      0
3             Alberta         Canada  53.9333 -116.5765   1/25/20      0
4             Alberta         Canada  53.9333 -116.5765   1/26/20      0
...               ...            ...      ...       ...       ...    ...
198209       Zhejiang          China  29.1832  120.0934  12/30/21   2016
198210       Zhejiang          China  29.1832  120.0934  12/31/21   2016
198211       Zhejiang          China  29.1832  120.0934    1/1/22   2025
198212       Zhejiang          China  29.1832  120.0934    1/2/22   2038
198213       Zhejiang          China  29.1832  120.0934    1/3/22   2044

[198214 rows x 6 columns]

In [26]:
by_group = confirmed_cases.groupby(['Province/State','Country/Region'])
confirmed_cases['Newcases'] = list(by_group.apply(lambda x: x['Cases']-x['Cases'].shift()))
confirmed_cases['Newcases'].fillna(0, inplace = True)

confirmed_cases['Date'] = confirmed_cases['Date'].apply(lambda x: dt.datetime.strptime(x,'%m/%d/%y') )


confirmed_cases[690:700]

#for i in confirmed_cases[550:600].iterrows(): print(i)

,Province/State,Country/Region,Lat,Long,Date,Cases,Newcases
690,Alberta,Canada,53.9333,-116.5765,2021-12-12,338428,0.0
691,Alberta,Canada,53.9333,-116.5765,2021-12-13,339291,863.0
692,Alberta,Canada,53.9333,-116.5765,2021-12-14,339541,250.0
693,Alberta,Canada,53.9333,-116.5765,2021-12-15,339997,456.0
694,Alberta,Canada,53.9333,-116.5765,2021-12-16,340470,473.0
695,Alberta,Canada,53.9333,-116.5765,2021-12-17,341023,553.0
696,Alberta,Canada,53.9333,-116.5765,2021-12-18,341023,0.0
697,Alberta,Canada,53.9333,-116.5765,2021-12-19,341023,0.0
698,Alberta,Canada,53.9333,-116.5765,2021-12-20,342948,1925.0
699,Alberta,Canada,53.9333,-116.5765,2021-12-21,343734,786.0

# Confirmed cases - Pivoting the data (France)
- **Data wrangling**: dates are pivoted in such a way that they are now a dimension (as opposed to columns before)
- **New calculation**: number of new cases is added

In [27]:
confirmed_cases[(confirmed_cases['Country/Region']== 'France') & (confirmed_cases['Province/State']== 'Other')]

,Province/State,Country/Region,Lat,Long,Date,Cases,Newcases
82708,Other,France,46.2276,2.2137,2020-01-22,0,0.0
82709,Other,France,46.2276,2.2137,2020-01-23,0,0.0
82710,Other,France,46.2276,2.2137,2020-01-24,2,2.0
82711,Other,France,46.2276,2.2137,2020-01-25,3,1.0
82712,Other,France,46.2276,2.2137,2020-01-26,3,0.0
...,...,...,...,...,...,...,...
83416,Other,France,46.2276,2.2137,2021-12-30,9529614,206243.0
83417,Other,France,46.2276,2.2137,2021-12-31,9761814,232200.0
83418,Other,France,46.2276,2.2137,2022-01-01,9980940,219126.0
83419,Other,France,46.2276,2.2137,2022-01-02,10039372,58432.0
83420,Other,France,46.2276,2.2137,2022-01-03,10106833,67461.0

**Notes**  
Cases: means cumulative cases  
New cases: means new daily cases (the delta between Cases on a given day and Cases on the day before)

In [28]:
len(confirmed_cases)

198214

# Confirmed cases - France
**New Cases**
![alt text](Assets/Displayed/France_newcases.png)

**Note**: 5 waves

**Cumulative Cases**
![alt text](Assets/Displayed/France_cumulCases.png)

# Confirmed cases - Pivoting the data (NSW)

In [29]:
z = confirmed_cases[confirmed_cases['Province/State']=='New South Wales']
x = z['Date']
x_values = [dt.datetime.strftime(x,'%m/%d/%y') for x in x]
y = z['Newcases']
z

,Province/State,Country/Region,Lat,Long,Date,Cases,Newcases
34937,New South Wales,Australia,-33.8688,151.2093,2020-01-22,0,0.0
34938,New South Wales,Australia,-33.8688,151.2093,2020-01-23,0,0.0
34939,New South Wales,Australia,-33.8688,151.2093,2020-01-24,0,0.0
34940,New South Wales,Australia,-33.8688,151.2093,2020-01-25,0,0.0
34941,New South Wales,Australia,-33.8688,151.2093,2020-01-26,3,3.0
...,...,...,...,...,...,...,...
35645,New South Wales,Australia,-33.8688,151.2093,2021-12-30,166373,0.0
35646,New South Wales,Australia,-33.8688,151.2093,2021-12-31,187504,21131.0
35647,New South Wales,Australia,-33.8688,151.2093,2022-01-01,228307,40803.0
35648,New South Wales,Australia,-33.8688,151.2093,2022-01-02,249064,20757.0
35649,New South Wales,Australia,-33.8688,151.2093,2022-01-03,272160,23096.0

# Confirmed cases - Australia, NSW
**New Cases**
![alt text](Assets/Displayed/NSW_newcases.png)

**Note**: 1st wave in Apr20 (original sars-cov-2); 2nd wave Aug21 Delta ; 3rd wave Dec21 Omicron as all restrictions are lifted (due to vaccination rates exceeding target of 80%). Anomalies are fixed around NYE

**Cumulative Cases**
![alt text](Assets/Displayed/NSW_cumulCases.png)

# Latest Data - what the data Looks like  (as downloaded from raw file)

In [30]:
latest_data[latest_data.Country_Region =='Australia']

,Province_State,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
8,Australian Capital Territory,NaN,NaN,Australia,2022-01-04 04:22:17,-35.4735,149.0124,5323,15,NaN,NaN,"Australian Capital Territory, Australia",1458.537725,0.281796
9,New South Wales,NaN,NaN,Australia,2022-01-04 04:22:17,-33.8688,151.2093,272160,675,NaN,NaN,"New South Wales, Australia",3352.549889,0.248016
10,Northern Territory,NaN,NaN,Australia,2022-01-04 04:22:17,-12.4634,130.8456,880,1,NaN,NaN,"Northern Territory, Australia",358.306189,0.113636
11,Queensland,NaN,NaN,Australia,2022-01-04 04:22:17,-27.4698,153.0251,23941,7,NaN,NaN,"Queensland, Australia",579.141824,0.029239
12,South Australia,NaN,NaN,Australia,2022-01-04 04:22:17,-34.9285,138.6007,18021,8,NaN,NaN,"South Australia, Australia",1210.760034,0.044393
13,Tasmania,NaN,NaN,Australia,2022-01-04 04:22:17,-42.8821,147.3272,2259,13,NaN,NaN,"Tasmania, Australia",421.848739,0.575476
14,Victoria,NaN,NaN,Australia,2022-01-04 04:22:17,-37.8136,144.9631,213548,1542,NaN,NaN,"Victoria, Australia",3220.983725,0.722086
15,Western Australia,NaN,NaN,Australia,2022-01-04 04:22:17,-31.9505,115.8605,1176,9,NaN,NaN,"Western Australia, Australia",44.704630,0.765306

Field definition: [Link here](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data)  
**Note**: "Confirmed" is the latest cumulative case count

In [31]:
#Focusing on NSW
latest_data[latest_data.Province_State =='New South Wales']

,Province_State,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
9,New South Wales,NaN,NaN,Australia,2022-01-04 04:22:17,-33.8688,151.2093,272160,675,NaN,NaN,"New South Wales, Australia",3352.549889,0.248016

# Ranking of countries

In [32]:
latest_data[latest_data['Country_Region'] == 'Australia']

,Province_State,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
8,Australian Capital Territory,NaN,NaN,Australia,2022-01-04 04:22:17,-35.4735,149.0124,5323,15,NaN,NaN,"Australian Capital Territory, Australia",1458.537725,0.281796
9,New South Wales,NaN,NaN,Australia,2022-01-04 04:22:17,-33.8688,151.2093,272160,675,NaN,NaN,"New South Wales, Australia",3352.549889,0.248016
10,Northern Territory,NaN,NaN,Australia,2022-01-04 04:22:17,-12.4634,130.8456,880,1,NaN,NaN,"Northern Territory, Australia",358.306189,0.113636
11,Queensland,NaN,NaN,Australia,2022-01-04 04:22:17,-27.4698,153.0251,23941,7,NaN,NaN,"Queensland, Australia",579.141824,0.029239
12,South Australia,NaN,NaN,Australia,2022-01-04 04:22:17,-34.9285,138.6007,18021,8,NaN,NaN,"South Australia, Australia",1210.760034,0.044393
13,Tasmania,NaN,NaN,Australia,2022-01-04 04:22:17,-42.8821,147.3272,2259,13,NaN,NaN,"Tasmania, Australia",421.848739,0.575476
14,Victoria,NaN,NaN,Australia,2022-01-04 04:22:17,-37.8136,144.9631,213548,1542,NaN,NaN,"Victoria, Australia",3220.983725,0.722086
15,Western Australia,NaN,NaN,Australia,2022-01-04 04:22:17,-31.9505,115.8605,1176,9,NaN,NaN,"Western Australia, Australia",44.704630,0.765306

In [33]:
latest_data['Population'] = latest_data['Confirmed']/(latest_data['Incident_Rate']/100000)
latest_data['Incidence'] = (latest_data['Population']/100000)*(latest_data['Incident_Rate'])

In [34]:
latest_data.head()

,Province_State,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Population,Incidence
0,NaN,NaN,NaN,Afghanistan,2022-01-04 04:22:17,33.93911,67.709953,158183,7364,NaN,NaN,Afghanistan,406.344057,4.655368,38928341.0,158183.0
1,NaN,NaN,NaN,Albania,2022-01-04 04:22:17,41.15330,20.168300,210885,3220,NaN,NaN,Albania,7327.993606,1.526899,2877800.0,210885.0
2,NaN,NaN,NaN,Algeria,2022-01-04 04:22:17,28.03390,1.659600,219532,6298,NaN,NaN,Algeria,500.631194,2.868830,43851043.0,219532.0
3,NaN,NaN,NaN,Andorra,2022-01-04 04:22:17,42.50630,1.521800,24502,140,NaN,NaN,Andorra,31711.641752,0.571382,77265.0,24502.0
4,NaN,NaN,NaN,Angola,2022-01-04 04:22:17,-11.20270,17.873900,83764,1775,NaN,NaN,Angola,254.863132,2.119049,32866268.0,83764.0

In [35]:
latest_data[latest_data.Country_Region =='US']

,Province_State,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Population,Incidence
673,Alabama,1001.0,Autauga,US,2022-01-04 04:22:17,32.539527,-86.644082,11256,160,NaN,NaN,"Autauga, Alabama, US",20147.129893,1.421464,55869.0,11256.0
674,Alabama,1003.0,Baldwin,US,2022-01-04 04:22:17,30.727750,-87.722071,40549,593,NaN,NaN,"Baldwin, Alabama, US",18164.347725,1.462428,223234.0,40549.0
675,Alabama,1005.0,Barbour,US,2022-01-04 04:22:17,31.868263,-85.387129,3961,81,NaN,NaN,"Barbour, Alabama, US",16045.531880,2.044938,24686.0,3961.0
676,Alabama,1007.0,Bibb,US,2022-01-04 04:22:17,32.996421,-87.125115,4594,95,NaN,NaN,"Bibb, Alabama, US",20514.423506,2.067915,22394.0,4594.0
677,Alabama,1009.0,Blount,US,2022-01-04 04:22:17,33.982109,-86.567906,11368,198,NaN,NaN,"Blount, Alabama, US",19658.976931,1.741731,57826.0,11368.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3947,Wyoming,56039.0,Teton,US,2022-01-04 04:22:17,43.935225,-110.589080,6273,14,NaN,NaN,"Teton, Wyoming, US",26734.572110,0.223179,23464.0,6273.0
3948,Wyoming,56041.0,Uinta,US,2022-01-04 04:22:17,41.287818,-110.547578,4173,31,NaN,NaN,"Uinta, Wyoming, US",20631.859982,0.742871,20226.0,4173.0
3949,Wyoming,90056.0,Unassigned,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wyoming, US",NaN,NaN,NaN,NaN
3950,Wyoming,56043.0,Washakie,US,2022-01-04 04:22:17,43.904516,-107.680187,1886,37,NaN,NaN,"Washakie, Wyoming, US",24163.997438,1.961824,7805.0,1886.0
3951,Wyoming,56045.0,Weston,US,2022-01-04 04:22:17,43.839612,-104.567488,1257,14,NaN,NaN,"Weston, Wyoming, US",18146.383716,1.113763,6927.0,1257.0

In [36]:
countriesrank = latest_data.groupby('Country_Region')[['Population']].sum().sort_values('Population', ascending = False)
countriesrank

                        Population
Country_Region
China                 1.404676e+09
India                 1.371337e+09
US                    3.322895e+08
Indonesia             2.735236e+08
Brazil                2.101471e+08
...                            ...
Palau                 1.800800e+04
Holy See              8.090000e+02
MS Zaandam            0.000000e+00
Diamond Princess      0.000000e+00
Summer Olympics 2020  0.000000e+00

[196 rows x 1 columns]

# Latest Data - aggregation: total by country (summing all provinces/states)

In [37]:
countriesrank = latest_data.groupby('Country_Region')[['Population','Confirmed','Deaths','Recovered','Active']].sum().sort_values('Population', ascending = False)
countriesrank

                        Population  Confirmed  Deaths  Recovered  Active
Country_Region
China                 1.404676e+09     115597    4849        0.0     0.0
India                 1.371337e+09   34960261  482017        0.0     0.0
US                    3.322895e+08   56189547  827748        0.0     0.0
Indonesia             2.735236e+08    4263433  144102        0.0     0.0
Brazil                2.101471e+08   22309081  619473        0.0     0.0
...                            ...        ...     ...        ...     ...
Palau                 1.800800e+04          8       0        0.0     0.0
Holy See              8.090000e+02         27       0        0.0     0.0
MS Zaandam            0.000000e+00          9       2        0.0     0.0
Diamond Princess      0.000000e+00        712      13        0.0     0.0
Summer Olympics 2020  0.000000e+00        865       0        0.0     0.0

[196 rows x 5 columns]

In [38]:
p = countriesrank.loc['Spain']['Population']
f'{p:,.0f} inhabitants'

'46,937,060 inhabitants'

# Latest data - Calculating additional metrics (Population, %Infected, Mortality, Fatality)

In [39]:
countriesrank = countriesrank.loc[countriesrank.index!='Afghanistan'].head(20).sort_values('Population')
countriesrank['%pop_infected'] = countriesrank['Confirmed'] / countriesrank['Population']
countriesrank['Mortality']  = countriesrank['Deaths'] / countriesrank['Population']
countriesrank['Fatality'] = countriesrank['Deaths'] / countriesrank['Confirmed']
countriesrank

,Population,Confirmed,Deaths,Recovered,Active,%pop_infected,Mortality,Fatality
Country_Region,,,,,,,,
Thailand,6.979998e+07,2232485,21738,0.0,0.0,0.031984,0.000311,0.009737
Germany,8.301921e+07,7258803,112584,0.0,0.0,0.087435,0.001356,0.015510
Iran,8.399295e+07,6198590,131702,0.0,0.0,0.073799,0.001568,0.021247
Turkey,8.433907e+07,9599640,82795,0.0,0.0,0.113822,0.000982,0.008625
Congo (Kinshasa),8.956140e+07,74793,1205,0.0,0.0,0.000835,0.000013,0.016111
Vietnam,9.733858e+07,1778976,33021,0.0,0.0,0.018276,0.000339,0.018562
Egypt,1.023344e+08,387882,21817,0.0,0.0,0.003790,0.000213,0.056246
Philippines,1.095811e+08,2855819,51586,0.0,0.0,0.026061,0.000471,0.018063
Ethiopia,1.149636e+08,428796,6969,0.0,0.0,0.003730,0.000061,0.016252
Japan,1.261669e+08,1733901,18392,0.0,0.0,0.013743,0.000146,0.010607
Mexico,1.277923e+08,3993464,299581,0.0,0.0,0.031250,0.002344,0.075018
Russia,1.466447e+08,10374292,305096,0.0,0.0,0.070744,0.002081,0.029409
Bangladesh,1.646894e+08,1587140,28081,0.0,0.0,0.009637,0.000171,0.017693
Nigeria,2.061396e+08,244120,3045,0.0,0.0,0.001184,0.000015,0.012473
Pakistan,2.078318e+08,1297865,28945,0.0,0.0,0.006245,0.000139,0.022302
Brazil,2.101471e+08,22309081,619473,0.0,0.0,0.106159,0.002948,0.027768
Indonesia,2.735236e+08,4263433,144102,0.0,0.0,0.015587,0.000527,0.033800
US,3.322895e+08,56189547,827748,0.0,0.0,0.169098,0.002491,0.014731
India,1.371337e+09,34960261,482017,0.0,0.0,0.025494,0.000351,0.013788
China,1.404676e+09,115597,4849,0.0,0.0,0.000082,0.000003,0.041947

In [40]:
#countriesrank.Deaths.tolist()

In [41]:
#countriesrank.index.tolist()

# Death toll for top-20 most populated countries
Sorted by population size in descending order (China 1st, India 2nd etc.)  
Size of the Bar represents the number of deaths
![alt text](Assets/Displayed/deaths-ranking.png)

In [42]:
countriesrank.index.tolist()

['Thailand',
 'Germany',
 'Iran',
 'Turkey',
 'Congo (Kinshasa)',
 'Vietnam',
 'Egypt',
 'Philippines',
 'Ethiopia',
 'Japan',
 'Mexico',
 'Russia',
 'Bangladesh',
 'Nigeria',
 'Pakistan',
 'Brazil',
 'Indonesia',
 'US',
 'India',
 'China']

# Bubble chart: % Infected population,Fatality, Death toll
- **x axis** = %population infected (cumulative cases/population), approximation 
- **y axis** = Fatality rate | **bubble size** = # deaths
![alt text](Assets/Displayed/bubble-chart.png)

### Comments
- % population infected (approximation only as this does not consider the fact that reinfected people inflate confirmed cases): impacted by testing policy (number of test centres, free or paid tests, test kit avaibility etc); and by willingness of countries to report accurate case numbers
- Fatality rate: impacted by vaccination rate, hospital capacity/equipment; and by willingness of countries to report accurate case numbers and death toll
- Deaths: this should be analysed concurrently with population size